@{
    ViewBag.Title = "About";
}

@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div class="jumbotron">
    <h1>SUDHA ENTERPRISED BAR CODE SOLUTIONS</h1>
    <p class="lead">SUDHA ENTERPRISED BAR CODE SOLUTIONS FOR MIDDLE LEVEL AND SMALL SCALES INDUSTRY WITH LABLES AND BARCODE SOLUTIONS.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
