@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   SUDHA ENTERPRISED PRIVATE LTD<br />
    8-4-370/568<br />
    RAJ NAGAR BORABANDA<br />
    <abbr title="Phone">P#</abbr>
    9849770645
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sudhaent@gmail.com">sudhaent@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sudhaent@gmail.com">sudhaent@gmail.com</a>
</address>